.imagem-carrossel {
    object-fit: cover;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    object-position: 50% 30%;
    height: 400px;
}

.imagem-carrossel-tres {
    object-fit: cover;
    object-position: 80% 80%;
    height: 400px;
}

.imagem-card {
    height: 180px;
}

.card-bloco {
    object-position: 20%;
}

.fonte-titulo {
    font-family: 'Nunito', sans-serif;
}

.whatsapp {
    position: fixed;
    top: 88%;
    right: 1%;
    padding: 2px;
    z-index: 10000000;
}
